.DS_Store
ctags.tags
error_log
/vendor/
.idea/
*.swp
www/logs/queries/*
www/logs/system/*
www/tmp/*
!www/logs/queries/.gitkeep
!www/logs/system/.gitkeep
!www/tmp/.gitkeep
www/phpMyAdmin
bin/cache/*
!bin/cache/.gitkeep
www/administrator
www/administrator_libraries
www/embed
www/vendors
www/captcha.php
www/init.php
www/lib
www/bundles
www/css
www/app*
www/portal_scripts
app/Resources/assets/less/config.less
