{% if hasTerms %}
    <div class="box-sm-body">
        <div class="onresp">
            <label>
                <input type="checkbox" name="agreex"/> {{ "fzone.termsAndCondtions.input1"|trans({}, "frontend" )|raw }}
            </label>
        </div>
    </div>
{% endif %}

