<table cellpadding="0" cellspacing="0" style="border:1px solid {{ brandColor }}; background-color:#ffffff; margin-bottom:10px;">
    <tr>
        <td>
            <table align="center" cellpadding="10px">
                <tr>
                    <td  align="center" style="font-size:0.8em;">In the past you provided Us with your email address. Occasionally, you will receive announcements regarding special promotions, events, and services being sent exclusively to our subscribers. If you no longer wish to receive these announcements, please click the Unsubscribe link below. Please DO NOT CLICK REPLY to this email. Replies to this email will not be responded to or read.</td>
                </tr>
                <tr>
                    <td align="center">{{ 'emailConfirmation.footer.companyadress'|trans({}, 'frontend') }}
                </tr>
            </table>
        </td>
    </tr>
</table>