<table width="100%" style="border:1px solid {{ brandColor }}; background-color:#ffffff; margin-top:10px;">
    <tr>
        <td>
            <table align="center" cellpadding="5px">
                <tr>
                    <td>
                        <img src="{{ s3Url }}/images/email-template/logo/email-header-logo-2.png" style="width:550px;">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>