<div class="row">
    <div class="col-md-12">
        <div class="h1-headline-smaller">{{ 'fzone.myvouchers.headline'|trans({}, 'frontend')|raw }}</div>
        <div class="details">{{ 'fzone.myvouchers.bodycopy'|trans({}, 'frontend')|raw }}</div>
    </div>
</div>