{% extends 'FrontEnd/Resources/views/embed/fzone/contents/tabJs/profile/base.html.twig' %}

{% block contentBeforeForm %}
    <div class="sub-menutab">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="modal-button-style btn btn-default active" data-chainable-click='["#lt_profile"]' data-gtm-dimension="My_Profile/Tab/My_Profile">My Profile</button>
            <button type="button" class="modal-button-style btn btn-default" data-chainable-click='["#lt_prize_info", "#prizes-page button:contains(My Prizes)"]' data-gtm-dimension="v2/My_Profile/Initial/My_Profile_Button_Success/My_Prizes">My Prizes</button>
            <button type="button" class="modal-button-style btn btn-default" data-chainable-click='["#lt_about"]' data-gtm-dimension="v2/My_Profile/Initial/My_Profile_Button_Success/Help">Help</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div id="content-switch-container" class="col-md-12">
            <div class="h1-headline-smaller">Profile Information</div>
        </div>
    </div>
    <script>
        EngagedNation.RequireJS.require(
            ["jquery_1_10"],
            function($) {
                "use strict";
                $.engagedTabAccordion(
                    {
                        scrollOffset: $('.wrapper .header').eq(0).height() + 10
                    }
                );
            }
        );
    </script>
{% endblock contentBeforeForm %}