{% extends 'FrontEnd/Resources/views/embed/fzone/contents/tabJs/sitefeedbacklogout/base.html.twig' %}

{% block submitButton %}
    <div class="modal-button-wrapper">
        <button class="button modal-button-style" type="submit">Submit</button>
    </div>
{% endblock submitButton %}